<form>
  <label>Type the score you feel you deserve in the following box:</label>
  <input type="number">
  <input type="submit", value="submit!">
</form>

<span>Score: </span> <span id="score">0</span>

<div id="board"></div>
